<h2 class="btn-centered">OUR GADGETS</h2>
<section class="gadgets container">
  <!-- <div class="grid grid--1x3"> -->
  <div>
    <img src="../Project Files/Images/product1.png" alt="" />
    <div>
      <h3 class="btn-centered">SAMSUNG TV</h3>
      <a class="btn-centered" href="/products"
        ><button class="btn btn-dark">Add to cart</button></a
      >
    </div>
  </div>
  <div>
    <img src="../Project Files/Images/product2.png" alt="" />
    <div>
      <h3 class="btn-centered">PIXEL 4a</h3>
      <a class="btn-centered" href="/products"
        ><button class="btn btn-dark">Add to cart</button></a
      >
    </div>
  </div>
  <div>
    <img src="../Project Files/Images/product3.png" alt="" />
    <div>
      <h3 class="btn-centered">PS 5</h3>
      <a class="btn-centered" href="/products"
        ><button class="btn btn-dark">Add to cart</button></a
      >
    </div>
  </div>
  <div>
    <img src="../Project Files/Images/product4.png" alt="" />
    <div>
      <h3 class="btn-centered">MACBOOK AIR</h3>
      <a class="btn-centered" href="/products"
        ><button class="btn btn-dark">Add to cart</button></a
      >
    </div>
  </div>
  <div>
    <img src="../Project Files/Images/product5.png" alt="" />
    <div>
      <h3 class="btn-centered">APPLE WATCH</h3>
      <a class="btn-centered" href="/products"
        ><button class="btn btn-dark">Add to cart</button></a
      >
    </div>
  </div>
  <div>
    <img src="../Project Files/Images/product6.png" alt="" />
    <div>
      <h3 class="btn-centered">AIR PODS</h3>
      <a class="btn-centered" href="/products"
        ><button class="btn btn-dark">Add to cart</button></a
      >
    </div>
  </div>
  <!-- </div> -->
</section>
